<h3>
    <i class="fas fa-book-reader">PROVERBS</i>
</h3>
<div class="section">
    <p class="lead">Create public and private proverbs gotten from your origin</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/signup" class="btn red darken-1"> 
        Sign Up
    </a>
    <a href="/login" class="btn red darken-1"> 
        Log In
    </a>
</div>